@(title: String)(implicit template: String => Html => Html)

@template("Configuration"){

<!-- Nav tabs -->
<ul class="nav nav-tabs">
  <li><a href="#dfs" data-toggle="tab">DFS</a></li>
  <li><a href="#sql" data-toggle="tab">SQL</a></li>
  <li><a href="#resources" data-toggle="tab">Resource manager</a></li>
  <li><a href="#common" data-toggle="tab">Common config</a></li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
  <div class="tab-pane active" id="dfs">
    <div class="conf-tab well col-md-5 pull-left">
      <form class="form">
        <div class="form-group has-error">
          <label class="control-label" for="inputError">Wrong DFS uri!</label>
          <input type="text" class="form-control" id="inputError" value="hdfs://nonexisting:8020/" placeholder="DFS uri">
        </div>
        <div class="btn-group">
          <button type="submit" class="btn btn-success">Save</button>
        </div>
      </form>
    </div>
  </div>
  <div class="tab-pane" id="sql">
    <div class="conf-tab well col-md-5 pull-left">
      <form class="form">
        <div class="form-group has-success">
          <label class="control-label" for="inputError">Hiveserver2 JDBC uri correct!</label>
          <input type="text" class="form-control" id="inputError" value="jdbc:hive2://localhost:10000" placeholder="Hiveserver2 JDBC uri">
        </div>
        <div class="btn-group">
          <button type="submit" class="btn btn-success">Save</button>
        </div>
      </form>
    </div>    
  </div>
  <div class="tab-pane" id="resources">
    <div class="tab-pane active" id="dfs">
      <div class="conf-tab well col-md-5 pull-left">
        <form class="form">
          <div class="form-group has-warning">
            <label class="control-label" for="inputError">Yarn resource manager has 0 active nodes!</label>
            <input type="text" class="form-control" id="inputError" value="localhost:8088" placeholder="yarn.resourcemanager.address">
          </div>
          <div class="btn-group">
            <button type="submit" class="btn btn-success">Save</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="tab-pane" id="common">
    <div class="tab-pane active" id="dfs">
      <div class="conf-tab well col-md-5 pull-left">
        <form class="form">
          <fieldset>
            <legend>Enabled applications</legend>
            <div class="checkbox">
              <input type="checkbox" name="" value="" checked="checked" disabled="disabled"/> <label>File Browser</label>
            </div>
            <div class="checkbox">
              <input type="checkbox" name="" value="" checked="checked" disabled="disabled"/> <label>Job Browser</label>
            </div>
            <div class="checkbox">
              <input type="checkbox" name="" value="" checked="checked" /> <label>Pig</label>
            </div>
            <div class="checkbox">
              <input type="checkbox" name="" value="" checked="checked" /> <label>Hive</label>
            </div>
            <div class="checkbox">
              <input type="checkbox" name="" value=""  /> <label>Storm</label>
            </div>
          <fieldset>
            <div class="btn-group">
              <button type="submit" class="btn btn-success">Save</button>
            </div>
        </form>
      </div>
    </div>
  </div>
</div>

}
