@(title: String)(content: Html)

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <title>@title</title>
        <meta name="viewport" content="width=device-width">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <link rel="stylesheet" href="@routes.Assets.at("stylesheets/normalize.css")">

        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        
        
        <link rel='stylesheet' href='@routes.WebJarAssets.at(WebJarAssets.locate("css/bootstrap-glyphicons.css"))'>
        <link rel='stylesheet' href='@routes.Assets.at("stylesheets/bootstrap.min.css")'>
        <link rel='stylesheet' href='@routes.WebJarAssets.at(WebJarAssets.locate("css/font-awesome.min.css"))'> 
        
		<script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("jquery.min.js"))'></script>
		<script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("bootstrap.min.js"))'></script>
		<script type='text/javascript' src='@routes.Assets.at("javascripts/main.min.js")'></script>
	
		
        <!-- HTML5 Shim, for IE6-IE8 support of HTML5 elements -->
		<!--[if lt IE 9]>
			<script src="@routes.WebJarAssets.at(WebJarAssets.locate("html5shiv.js"))"></script>
		<![endif]-->
        <link rel='stylesheet' href="@routes.Assets.at("stylesheets/global.css")">
    </head>
    <body>
    	
    	<!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->  
    <div class="navbar navbar-default navbar-fixed-top navbar-inverse">
		<div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#">Big Data UI</a>
            </div>
            <div class="navbar-collapse collapse navbar-inverse-collapse">
              <ul class="nav navbar-nav" id="menu-nav">
                <li>
                	<a class="btn btn-navbar btn-lg" href="#" data-toggle="tooltip" data-placement="bottom" title data-original-title="Distributed File Systems">
                		<span class="glyphicon glyphicon-folder-open"></span>
               		</a>
            	</li>
                <li>
                	<a class="btn btn-navbar btn-lg dropdown-toggle" data-toggle="dropdown" data-toggle="tooltip" data-placement="bottom" title data-original-title="Resource managers" href="#">
                		<span class="glyphicon glyphicon-tasks"></span>
                	</a>                	
                </li>
                
                 <li>
                	<a class="btn btn-navbar btn-lg" data-toggle="tooltip" data-placement="bottom" title data-original-title="SQL" href="#">
                		<span class="glyphicon glyphicon-th"></span>
                	</a>
                </li>
                
                <li>
                	<a class="btn btn-navbar btn-lg" data-toggle="tooltip" data-placement="bottom" title data-original-title="Scrips" href="#">
                		<i class="icon-code icon-5"></i>
                	</a>
                </li>
                
                <li>
                	<a class="btn btn-navbar btn-lg" data-toggle="tooltip" data-placement="bottom" title data-original-title="Streams" href="#">
                		<span class="glyphicon glyphicon-random"></span>
                	</a>
                </li>
                
                <li>
                	<a class="btn btn-navbar btn-lg" data-toggle="tooltip" data-placement="bottom" title data-original-title="Workflows" href="#">
                		<i class="icon-cogs"></i>
                	</a>
                </li>
                
                <li>
                	<a class="btn btn-navbar btn-lg" data-toggle="tooltip" data-placement="bottom" title data-original-title="Graphs" href="#">
                		<i class="icon-code-fork"></i>
                	</a>
                </li>
                
                <li>
                	<a class="btn btn-navbar btn-lg" data-toggle="tooltip" data-placement="bottom" title data-original-title="Databases" href="#">
                		<span class="glyphicon glyphicon-th"></span>
                	</a>
                </li>
                
                <li>
                	<a class="btn btn-navbar btn-lg" data-toggle="tooltip" data-placement="bottom" title data-original-title="User management" href="#">
                		<span class="glyphicon glyphicon-user"></span>
                	</a>
                </li>
               
              </ul>
             
              <ul class="nav navbar-nav navbar-right">
                <li>
                	<a class="btn btn-navbar btn-lg" data-toggle="tooltip" data-placement="bottom" title data-original-title="Configuration" href="#">
                		<i class="icon-wrench"></i>
                	</a>
                </li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">User <b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li><a href="#"><i class="icon-user"></i> Profile</a></li>
                    <li class="divider"></li>
                    <li><a href="#"><i class="icon-off"></i> Logout</a></li>
                  </ul>
                </li>
              </ul>
            </div><!-- /.nav-collapse -->
        </div>
    </div> 
    <div class="main-wrapper ">  
     @content
	</div>

    </body>
</html>
